<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>EXPENSES TRACKER</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="heading">expencess tracker</div>
    <% let total=urtotal=0; %>
    <% if (spendings.length>0) {%>
        <div><h1><%= spendings[0].person %></h1></div>
        <div class="grid">
            
            <% for(let i=0;i<spendings.length;i++){ total+=spendings[i].amount; urtotal+=(spendings[i].amount/spendings[i].personCount);%>
                <div class="flexcontainer">

                    <div class="cost di">
                        <%= spendings[i].amount %>
                    </div>                  
                    <div class="personCont di">
                        <%= spendings[i].personCount %>
                        
                    </div>
                    <div class="details di">
                        <%= spendings[i].details %>
                        
                    </div>
                    <a href="/delete/<%=spendings[i]._id %>"><button>D</button></a><br>
                    <!-- <br> -->
                </div>
                    <%};%>
                    
                    
                    <%    } else{%>
                        <h1>add expenses</h1>
                        <%}  %>

    </div>
<div><h1>total is <%= total %><br>your total is <%= urtotal %></h1></div>
    <form action="/add" method="POST">
        <div class="item">
            <label for="amount">amount</label><input type="number" name="amount" id="" required>
            <label for="personCount">persons</label><input type="number" name="personCount" id="personCount" required>
            <label for="details">details</label><input type="text" name="details" id="details">
            <input type="submit" value="ADD">
        </div>
    </form>
</body>
</html>